# For Loop <hr style = "border:2.5px solid rgba(60, 187, 234, 0.47)"></hr>

<b>Reenylle Y. Jocson</b>
<br>Computer Engineering Technology

# Iterating Over a List

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [3]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
[n for n in numbers if n%2==0]

[2, 4, 6, 8, 10]

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2==0]
result

[2, 4, 6, 8, 10]

#  Iterating Over a Dictionary

In [5]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [6]:
# key-value
employee = {'name' : 'Angel',
            'position' : 'Maldita',
            'salary' : '900000000'}

for key in employee:
    print(key)

name
position
salary

In [7]:
employee['salary']

'900000000'

In [8]:
for value in employee.values():
    print(value)

Angel
Maldita
900000000

In [9]:
employee = {'name' : ['Reenylle','Jocson'],
            'position' : ['Gwapo','Gwapo'],
            'salary' : ['900000000','10000']}

for key in employee:
    print(key)

name
position
salary

In [11]:
employee['salary']

['900000000', '10000']

In [13]:
for value in employee.values():
    print(value)

['Reenylle', 'Jocson']
['Gwapo', 'Gwapo']
['900000000', '10000']

# Lambda Function

In [16]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [18]:
x = 4
lambda x : 2*x
x

4

In [21]:
y = 4
(lambda x : 2*x)(y)

8